[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gerald/Desktop/Steam Linux Runtime 3.0 (sniper).desktop]
row=0
col=0

[/home/gerald/Desktop/Proton Experimental.desktop]
row=9
col=0

[824E00D14E00C041]
row=1
col=0

[4C7C85CC7C85B0EE]
row=2
col=0

[7fda0880-da9a-4c15-8e15-e99b40a1c96c]
row=4
col=0

[0256833956832D0B]
row=3
col=0

[fa7ca2b0-94b8-4ddb-ad1b-0db0d17d501e]
row=5
col=0

[08F425C9F425B9B8]
row=6
col=0

[Trash]
row=7
col=0

[/]
row=8
col=0

[/home/gerald]
row=0
col=19

